@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/*------ Common styles ------*/
html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
}

.background {
    position: fixed;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
}

header, main, footer {
    padding-top: 10px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

/*------ Navigation menu ------*/
.nav__container {
    background-color: rgba(21, 239, 5, 0.2);
    margin-bottom: 20px;
}

.nav__container li {
    list-style-type: none;
}

.nav__container li a:nth-child(n+1) {
    text-decoration: none;
    color: rgba(0, 4, 89, 0.84);
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.5s;
}

.nav__container li:hover a:nth-child(n+1) {
    border-bottom-color: rgba(0, 4, 89, 0.84);
}

/*------ Header ------*/
.header__container {
    background-color: rgba(216, 239, 5, 0.2);

}

.image-profile__wrapper {
    width: 250px;
}

.image-profile__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__title {
    margin-top: 0;
}

.content-table {
    border-collapse: collapse;
}

.content-table tr > * {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.content-table tr > th:first-child,
.content-table tr > td:first-child {
    text-align: right;
}

.content-table tr > th:last-child {
    text-align: left;
}

.content-table tbody tr:nth-child(odd) {
    background-color: rgba(39, 178, 245, 0.1);
}

.social-links__wrapper {
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.social-links__wrapper a {
    border: 1px solid #000;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    overflow: hidden;
}

.social-links__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*------ Main section styles ------*/
.main__container {
    background-color: rgba(0, 49, 250, 0.2);
    flex-direction: column;
    gap: 20px;
}

.main__title {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.skills__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.skills-image {
    width: 50%;
}

.skills-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experience__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.list > li {
    list-style-type: none;
    margin-bottom: 30px;
}

.experience-list > li:before {
    content: "🌟";
}

.list ul > li {
    list-style-type: disc;
    line-height: 1.5;
}

.list li a {
    font-style: italic;
    font-weight: 600;
}

.education-image__wrapper,
.experience-image__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.education-image__wrapper img,
.experience-image__wrapper img {
    width: 100%;
    object-fit: contain;
}

.education__wrapper {
    display: flex;
    justify-content: space-between;
}

.education-list > li:before {
    content: "🎓";
}

/*------- Footer container -------*/
.footer__container {
    background-color: rgba(250, 67, 0, 0.2);
    justify-content: space-between;
    align-items: center;
}

.github-link,
.rs-school {
    width: 100px;
    height: 50px;
}

.github-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}